/*.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__link {
    color: #292929;
    font-size: 12px;
}*/


/*#app .react-grid-HeaderCell {
    background-color: #292929;
    color: #fff;
}*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Josefin Slab', serif;
}

main {
    flex: 1 0 auto;
}